body, html {
	height: 100%;
	margin:0;
	font-size: 20px;
	font-family: 'Dosis' , sans-serif;
}
.paraimg1, .paraimg2 {
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
/* 
fixed= parallax
scroll= normal
*/
background-attachment: fixed;

}
.paraimg1 {
	background-image: url('img/parallaximg4.jpg');
	min-height: 100%;
	text-align: center;

}
.paraimg2 {
	background-image: url('img/parallaximg2.jpg');
	min-height: 400px;

}

.tex {
	position: absolute;
	top:50%;
	width: 100%;
	text-align: center;
	color: white;
	font-family: 'Dosis' , sans-serif;
	font-size: 60px;
	letter-spacing: 5px;	
}
.logo {
	height: 50px;
	float: left;
	margin: 20px;
}
.box {
	width: auto;
	float: right;
	border: 1px solid none;
	font-weight: 100px
	margin-top: 5px;
}
.box ul li {
	width: 150px;
	float: left;
	margin: 5px auto;
	text-align: center;
}
.box ul li a{
	text-decoration: none;
	color: white;
	background-color: black;
	border: 6px solid black;
	font-size: 15px;
}
.box ul li a:hover {
background-color: white;
color: black;
}
.section {
	text-align: center;
	padding: 50px 80px;
	background-color: black;
	color: white;
}
.section a{
	text-decoration: none;
	color: white;
	font-size: 15px;
}
.sec {
	margin-top: 5px;
	font-size: 10px;
	text-align: center;
	padding: 50px;
	background-color: black;
	color: white;
	height: 430px;
}
#gal {
	float: left;
	width: 30%;
	border: 0.5px dotted white;
	margin-right: 10px;
	padding: 5px;
}
#gal img {
	height: 100%;
	width: 70%;
	
}
.v {
	font-size: 10px;
}

@media(max-width: 1055px){
	img.logo {
		float: none;
	}
	div#gal {
		width: 29%;
	}

	
}

@media(max-width: 800px){
	div.sec {
		height: 100%;
		overflow: auto;
	}
	div#gal {

		text-align: center;
		width: 100%;
	}

	
}